@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!---->
<head>
    <style type="text/css">
        canvas{border:thin solid black}
        p{background: gray;
          color:white;
          padding:10px;
          margin:5px;
          border:thin solid black;
        }
    </style>
</head>
<body>
    <canvas id="canvas" width="1000" height="600">
    </canvas>
    
    <script>
        
        var ctx = document.getElementById("canvas").getContext("2d");
        
        function drawHorizontalLine(x1, x2, y) {
            ctx.beginPath();
            ctx.moveTo(x1, y);
            ctx.lineTo(x2, y);
            ctx.stroke();
            ctx.closePath();
        }
        function drawVerticalLine(x, y1, y2) {
            ctx.beginPath();
            ctx.moveTo(x, y1);
            ctx.lineTo(x, y2);
            ctx.stroke();
            ctx.closePath();
        }
        function drawDiagonalLine(x1, x2, y1, y2) {
            ctx.beginPath();
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.stroke();
            ctx.closePath();
        }
        function drawGameBoard(x, y) {
            ctx.lineWidth = "4";
            for (let i = 0; i < 10; i++) {
                drawHorizontalLine(x,x + 8 * 50, y + i * 45);
            }
            for (let i = 1; i < 8; i++) {
                drawVerticalLine(x + i * 50, y, y + 4 * 45);
                drawVerticalLine(x + i * 50, y + 5 * 45, y + 9 * 45);          
            }
            drawVerticalLine(x, y, y + 9 * 45);
            drawVerticalLine(x + 8 * 50, y, y + 9 * 45);
            drawDiagonalLine(x + 3 * 50, x + 5 * 50, y, y + 2 * 45);
            drawDiagonalLine(x + 3 * 50, x + 5 * 50, y + 2 * 45, y);
            drawDiagonalLine(x + 3 * 50, x + 5 * 50, y + 7 * 45, y + 9 * 45);
            drawDiagonalLine(x + 3 * 50, x + 5 * 50, y + 9 * 45, y + 7 * 45);
        }
        function drawBlackGeneral(x, y) {
            drawPiece(x,y);
            ctx.fillStyle = "black";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("将", x - 10, y);
            ctx.strokeText("将", x - 10, y);
            ctx.font = "10px sans-serif";
            ctx.fillText("jiàng", x - 10, y + 10);
            ctx.strokeText("jiàng", x - 10, y + 10);
        } 
        function drawRedGeneral(x, y) {
            drawPiece(x,y);
            ctx.strokeStyle = "red";
            ctx.fillStyle = "red";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("帅", x - 10, y);
            ctx.strokeText("帅", x - 10, y);
            ctx.font = "10px sans-serif";
            ctx.fillText("shuài", x - 10, y + 10);
            ctx.strokeText("shuài", x - 10, y + 10);
        } 
        function drawBlackGuard(x,y) {
            drawPiece(x,y);
            ctx.fillStyle = "black";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("士", x - 10, y+2);
            ctx.strokeText("士", x - 10, y+2);
            ctx.font = "10px sans-serif";
            ctx.fillText("shì", x - 5, y + 12);
            ctx.strokeText("shì", x - 5, y + 12);
        }
        function drawRedGuard(x, y) {
            drawPiece(x,y);
            ctx.strokeStyle = "red";
            ctx.fillStyle = "red";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("仕", x - 10, y+2);
            ctx.strokeText("仕", x - 10, y+2);
            ctx.font = "10px sans-serif";
            ctx.fillText("shì", x - 5, y + 12);
            ctx.strokeText("shì", x - 5, y + 12);
        }
        function drawBlackElephant(x, y) {
            drawPiece(x,y);
            ctx.fillStyle = "black";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("象", x - 10, y);
            ctx.strokeText("象", x - 10, y);
            ctx.font = "10px sans-serif";
            ctx.fillText("xiàng", x - 10, y + 10);
            ctx.strokeText("xiàng", x - 10, y + 10);
        }
        function drawRedElephant(x,y) {
            drawPiece(x,y);
            ctx.strokeStyle = "red";
            ctx.fillStyle = "red";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("相", x - 10, y);
            ctx.strokeText("相", x - 10, y);
            ctx.font = "10px sans-serif";
            ctx.fillText("xiàng", x - 10, y + 10);
            ctx.strokeText("xiàng", x - 10, y + 10);
        }
        function drawBlackHorse(x, y) {
            drawPiece(x,y);
            ctx.fillStyle = "black";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("马", x - 10, y+1);
            ctx.strokeText("马", x - 10, y+1);
            ctx.font = "10px sans-serif";
            ctx.fillText("mǎ", x - 6, y + 12);
            ctx.strokeText("mǎ", x - 6, y + 12);
            
        }
        function drawRedHorse(x, y) {
            drawPiece(x,y);
            ctx.strokeStyle = "red";
            ctx.fillStyle = "red";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("马", x - 10, y + 1);
            ctx.strokeText("马", x - 10, y + 1);
            ctx.font = "10px sans-serif";
            ctx.fillText("mǎ", x - 6, y + 12);
            ctx.strokeText("mǎ", x - 6, y + 12);
        }
        function drawBlackRook(x,y) {
            drawPiece(x, y);
            ctx.fillStyle = "black";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("车", x - 10, y + 1);
            ctx.strokeText("车", x - 10, y + 1);
            ctx.font = "10px sans-serif";
            ctx.fillText("jū", x - 4, y + 12);
            ctx.strokeText("jū", x - 4, y + 12);
        }
        function drawRedRook(x,y) {
            drawPiece(x, y);
            ctx.strokeStyle = "red";
            ctx.fillStyle = "red";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("车", x - 10, y + 1);
            ctx.strokeText("车", x - 10, y + 1);
            ctx.font = "10px sans-serif";
            ctx.fillText("jū", x - 4, y + 12);
            ctx.strokeText("jū", x - 4, y + 12);
        }
        function drawBlackCannon(x, y) {
            drawPiece(x, y);
            ctx.fillStyle = "black";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("砲", x - 10, y + 1);
            ctx.strokeText("砲", x - 10, y + 1);
            ctx.font = "10px sans-serif";
            ctx.fillText("pào", x - 7, y + 12);
            ctx.strokeText("pào", x - 7, y + 12);
        }
        function drawRedCannon(x, y) {
            drawPiece(x, y);
            ctx.strokeStyle = "red";
            ctx.fillStyle = "red";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("炮", x - 10, y + 1);
            ctx.strokeText("炮", x - 10, y + 1);
            ctx.font = "10px sans-serif";
            ctx.fillText("pào", x - 7, y + 12);
            ctx.strokeText("pào", x - 7, y + 12);
        }
        function drawBlackSoldier(x, y) {
            drawPiece(x, y);
            ctx.fillStyle = "black";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("卒", x - 10, y + 1);
            ctx.strokeText("卒", x - 10, y + 1);
            ctx.font = "10px sans-serif";
            ctx.fillText("zú", x - 4, y + 12);
            ctx.strokeText("zú", x - 4, y + 12);
        }
        function drawRedSoldier(x, y) {
            drawPiece(x, y);
            ctx.strokeStyle = "red";
            ctx.fillStyle = "red";
            ctx.lineWidth = "1";
            ctx.font = "20px sans-serif";
            ctx.fillText("兵", x - 10, y + 1);
            ctx.strokeText("兵", x - 10, y + 1);
            ctx.font = "10px sans-serif";
            ctx.fillText("bīng", x - 8, y + 12);
            ctx.strokeText("bīng", x -8, y + 12);
        }
        function drawPiece(x, y) {
            ctx.strokeStyle = "black";
            ctx.fillStyle = "#FFE5B4";
            ctx.beginPath();
            ctx.lineWidth = "4";
            ctx.arc(x, y, 20, 0, Math.PI * 2, true);
            ctx.fill();
            ctx.stroke();
            ctx.closePath();
        }
        //draw static pieces and game board lines
        drawGameBoard(300, 100);
        drawBlackGeneral(300 + 4 * 50, 100);
        drawRedGeneral(300 + 4 * 50, 100 + 9 * 45);
        drawBlackGuard(300 + 3 * 50, 100);   
        drawBlackGuard(300 + 5 * 50, 100); 
        drawRedGuard(300 + 3 * 50, 100 + 9 * 45);
        drawRedGuard(300 + 5 * 50, 100 + 9 * 45);
        drawBlackElephant(300 + 2 * 50, 100);
        drawBlackElephant(300 + 6 * 50, 100);
        drawRedElephant(300 + 2 * 50, 100 + 9 * 45);
        drawRedElephant(300 + 6 * 50, 100 + 9 * 45);
        drawBlackHorse(300 + 1 * 50, 100);
        drawBlackHorse(300 + 7 * 50, 100);
        drawRedHorse(300 + 1 * 50, 100 + 9 * 45);
        drawRedHorse(300 + 7 * 50, 100 + 9 * 45);
        drawBlackRook(300, 100);
        drawBlackRook(300 + 8 * 50, 100);
        drawRedRook(300, 100 + 9 * 45);
        drawRedRook(300 + 8 * 50, 100 + 9 * 45);
        drawBlackCannon(300 + 1 * 50, 100 + 2 * 45);
        drawBlackCannon(300 + 7 * 50, 100 + 2 * 45);
        drawRedCannon(300 + 1 * 50, 100 + 7 * 45);
        drawRedCannon(300 + 7 * 50, 100 + 7 * 45);
        for (let i = 0; i <= 8; i=i+2) {
            drawBlackSoldier(300 + i * 50, 100 + 3 * 45);
            drawRedSoldier(300 + i * 50, 100 + 6 * 45);
        }
        var xCell = document.getElementById("eX");

        //report the mouse position on click
        canvas.addEventListener("click", function (evt) {
            var mousePos = getMousePos(canvas, evt);
            alert(mousePos.x + ',' + mousePos.y);
            drawRedCannon(mousePos.x,mousePos.y);
        }, false);

        //Get Mouse Position
        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }
    </script>
    <p id="block1">I love you Sophia</p>
</body>

